---
layout: default
---
<section class="section">
  <div class="container columns is-centered">
    <div class="column content is-half">
      <h1 class="title">{{ page.title }}</h1>
      <hr>
      <article>
        <div class="columns">
          <div class="column is-four-fifths pb-1">
              <h6>{{ page.date | date_to_string }}</h6>
          </div>
          <div class="column pb-1">
              <h6>{{ page.category }}</h6>
          </div>
        </div>
        {{ content }}
      </article>
    </div>
  </div>
</section>

