---
layout: default
---
<section class="section">
  <div class="container columns is-centered">
    <div class="column content is-half">
      <h1 class="title">{{ page.title }}</h1>
      <hr>
      <article>
        <div class="columns">
          <div class="column is-four-fifths pb-1">
              <p class="content is-small">{{ page.date | date_to_long_string }}</p>
          </div>
          <div class="column pb-1">
            <div class="tags">
                <div class="tag">
                    <span class="icon is-small">
                        <i class="fas fa-tag" aria-hidden="true"></i>
                    </span>
                    <span><a href="/categories.html">{{ page.category }}</a></span>
                </div>
            </div>
          </div>
        </div>
        {{ content }}
      </article>
    </div>
  </div>
</section>

